@color-body: #1d365d;

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;

  .location {

  }

  .icon {
    text-align: center;

    img {
      height: 80px;
      width: auto;
    }
  }

  .description {
    margin-top: 0px;
  }
}
