body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
body .navbar-header .nav-search-container,
body .navbar .nav-search-container {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  overflow: visible;
  width: 135px;
}
body .navbar-header .nav-search-container input,
body .navbar .nav-search-container input {
  height: 40px;
  margin: 5px;
  padding: 5px;
  width: 130px;
}
body .current-weather-template .icon-container img {
  height: 80px;
  width: auto;
}
body .current-weather-template .description-container .description {
  font-size: 18px;
}
